@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900');

.App {
    padding: 0 1rem;
    font-family: 'Inter';
    min-width: 375px;
    margin-top: 64px;
}

h1.header {
    margin: 40px 0 16px 0;
    text-align: left;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.005em;

}

.flowers_displayed {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    text-align: center;
}
